<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
      <import resource="jdbc-context.xml"/>
     
     <!-- Step 2: Recognize Java Config annotations -->
     <mvc:annotation-driven  />    
     
     <!-- Step 3: Location of your beans and components -->
     <context:component-scan base-package="org.fujitsu.training.codes"/>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="org.fujitsu.training.codes.dao" />
</bean>

<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

     <!-- View Resolver -->
     <bean id="viewResolver1" 
         class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <property name="prefix" value="/WEB-INF/app/views"/>
         <property name="suffix" value=".jsp"/>
         <property name="order" value="1"/>
     </bean>
     
     <bean id="viewResolver2" 
        class="org.springframework.web.servlet.view.BeanNameViewResolver">
          <property name="order" value="0"/>
     </bean>
     <bean id="registerView" class="org.springframework.web.servlet.view.JstlView">
         <property name="url" value="/WEB-INF/app/views/registration/registration.jsp" />
     </bean>
      <bean id="registerSuccess" class="org.springframework.web.servlet.view.JstlView">
         <property name="url" value="/WEB-INF/app/views/registration/registration_success.jsp" />
     </bean>
     
     <bean id="loginView" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/app/views/login/login.jsp" />
    </bean>

    <bean id="loginSuccess" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/app/views/login/login_success.jsp" />
    </bean>
    
    <bean id="sellerMainDash" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/app/views/seller/smainDash.jsp" />
    </bean>
    <bean id="bidderMainDash" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/app/views/bidder/bmainDash.jsp" />
    </bean>
    <bean id="adminMainDash" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/WEB-INF/app/views/admin/amainDash.jsp" />
    </bean>
    
    <bean id="sellerProductFormView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/seller/product_form.jsp" />
</bean>

<bean id="sellerProductListView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/seller/product_list.jsp" />
</bean>

<bean id="sellerProfileView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/seller/profile.jsp" />
</bean>

<bean id="sellerBidListView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/seller/bid_list.jsp" />
</bean>

<bean id="bidderProductListView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/bidder/product_list.jsp" />
</bean>

<bean id="bidderProductDetailView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/bidder/product_detail.jsp" />
</bean>

<bean id="bidderPackageListView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/bidder/package_list.jsp" />
</bean>

<bean id="bidderMyBidsView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/bidder/my_bids.jsp" />
</bean>

<bean id="bidderModifyBidView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/bidder/modify_bid.jsp" />
</bean>

<bean id="adminBidConfirmationView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/bid_confirmations.jsp" />
</bean>
<bean id="adminCategoryView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/category.jsp" />
</bean>

<bean id="adminPackageView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/package.jsp" />
</bean>

<bean id="adminUserPackageView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/user_package.jsp" />
</bean>
<bean id="adminUserView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/user.jsp" />
</bean>

<bean id="adminProductView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/product.jsp" />
</bean>

<bean id="adminLocationView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/location.jsp" />
</bean>


<bean id="adminNewsView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/news.jsp" />
</bean>

<bean id="feedbackView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/common/feedback.jsp" />
</bean>

<bean id="adminFeedbackView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/feedback.jsp" />
</bean>

<bean id="adminReportView" class="org.springframework.web.servlet.view.JstlView">
    <property name="url" value="/WEB-INF/app/views/admin/report.jsp" />
</bean>



     
     <!-- Error pages -->
     <bean id="errIllegalArgView" class="org.springframework.web.servlet.view.JstlView">
         <property name="url" value="/WEB-INF/app/views/errors/illegal_argument_err.jsp" />
     </bean>
     <bean id="numberFormatView" class="org.springframework.web.servlet.view.JstlView">
         <property name="url" value="/WEB-INF/app/views/errors/numberformat_err.jsp" />
     </bean>
    <!--  
     <bean id="messageSource" 
     class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
           <list>
              <value>errors.emp_form</value>
           </list>
        </property>
     </bean>
     -->
    <!-- Managing static files -->
    <mvc:resources mapping="/cssPath/**" 
         location="classpath:/css/" />
    <mvc:resources mapping="/jsPath/**" 
         location="classpath:/js/" />
    <mvc:resources mapping="/imgPath/**" 
          location="classpath:/image/" />
    <mvc:resources mapping="/profile/**" 
               location="file:C:/auction_uploads/profile/" />
    <mvc:resources mapping="/product/**"
        location="file:C:/auction_uploads/product/" />
    <mvc:resources mapping="/package/**"
        location="file:C:/auction_uploads/package/" />
    
    
   
</beans>




